{% block grid %}
	<div class="calendar-full view-{{ view }}">

		{% block navbar %}
			{% include "@Calendar/components/navbar/navbar.html.twig" with calendar %}
		{% endblock %}

		<div class="calendar-grid">
			{% block content %}

				{% block weekdays %}
					{% for d in calendar.weekdays %}
						<div class="calendar-weekday">
							{% block day %}
								{{d}}
							{% endblock %}
						</div>
					{% endfor %}
				{% endblock %}

				{% block calendar %}
					{% for day in calendar.calendar %}
						{{ templates.day}}
					{% endfor %}
				{% endblock %}

			{% endblock %}
		</div>


		<pre>
	{{ dump(templates) }}
</pre>

		{# {{ templates.legend ?? null }} #}
	</div>


{% endblock %}
