<div class="calendar-navbar">

	{% block navigation %}
		{% include "@Calendar/components/navbar/buttons.html.twig" %}
	{% endblock %}

	{% block date %}
		<div class="calendar-nav-date">
			{% if view == 'week' %}
				Semaine
				{{ date|date('W') }}
				-
			{% endif %}
			{{mois(date, true)}}
		</div>
	{% endblock %}

	{% block views %}
		<a href="{{ navigation.today }}" class="calendar-today">Aujourd'hui</a>
		<a href="{{ navigation.weekView}}" class="calendar-view-btn {{ view == 'week' ? 'active' : '' }}">Semaine</a>
		<a href="{{ navigation.monthView}}" class="calendar-view-btn p-2 rounded text-xs border-1 {{ view == 'month' ? 'active' : '' }}">Mois</a>
		{# <a href="" class="calendar-view-btn p-2 rounded text-xs border-1 {{ view == 'list' ? 'active' : '' }}">Liste</a> #}
	{% endblock %}

	{% block filters %}
		{# {% if hasFilters ?? null %}{% include "@Calendar/components/navbar/filters.html.twig" %}{% endif %} #}
	{% endblock %}

</div>
