<a href="{{ navigation.views.week}}" class="agcal-week p-2 rounded text-xs border-1 {{ view == 'week' ? 'text-blue-500 font-mediu border-blue-300 shadow-sm' : 'border-gray-200 bg-gray-50' }}">Semaine</a>
<a href="{{ navigation.views.month}}" class="agcal-month p-2 rounded text-xs border-1 {{ view == 'month' ? 'text-blue-500 font-medium border-blue-300 shadow-sm' : 'border-gray-200 bg-gray-50' }}">Mois</a>
<a href="" class="agcal-list p-2 rounded text-xs border-1 {{ view == 'list' ? 'text-blue-500 font-medium border-blue-300 shadow-sm' : 'border-gray-200 bg-gray-50' }}">Liste</a>
