<div class="calendar-day {{ ( day.nextMonth or day.lastMonth ) ? 'out' : ''}} {{ day.isPresent ? 'present' : '' }}  view-{{ view }}">

	{% block dayHeader %}
		<div class="calendar-day-header">
			<span class="calendar-day-number">
				{{ day.date|date('d') }}
			</span>
		</div>
	{% endblock %}

	{% block dayContent %}

	<div class="">

		{% if templates.content %}
			{{ templates.content }}
		{% endif %}


		{% if view == 'month' %}
			{% for event in day.events %}
				{% include templates.event with event.toArray %}
			{% endfor %}
		{% else %}
			{% if config.timeVisible %}
				<div class="timeblocks">
					{% for time in config.timeblocks %}
						<div id="time-{{day.date|date('Y-m-d')}}-{{time}}" class="calendar-timeblock">
							{{ time }}
						</div>
					{% endfor %}
				</div>
			{% endif %}
		{% endif %}


		{# <div class="calendar-bundle-events">

				{% block dayAM %}
					<div class="calendar-bundle-event bottom-line">
						{% for event in events %}
							{% if event.start|date('H') < 12 %}
								{% include eventTemplate with event.toArray %}
							{% endif %}
						{% endfor %}
					</div>
				{% endblock %}

				{% block dayPM %}
					<div class="calendar-bundle-event">
						{% for event in events %}
							{% if event.start|date('H') >= 12 %}
								{% include eventTemplate with event.toArray %}
							{% endif %}
						{% endfor %}
					</div>
				{% endblock %}

			</div> #}
		</div>
	{% endblock %}
</div>
