{% extends '@EasyAdmin/page/content.html.twig' %}

{% block body_javascript %}
	{{ parent() }}
	{{encore_entry_script_tags('events')}}
{% endblock body_javascript %}

{% block content_title %}
	<h1 class="title">Cépages du
		{{ date|date('d/m/Y') }}</h1>
{% endblock %}

{% set url = ea_url()
    .setController('App\\Controller\\Admin\\EventCrudController')
    .setAction('calendar') %}

{% block page_actions %}


	<a class=" action-new btn btn-primary" href="{{url}}" data-action-name="new">
		<span class="action-label">Retour au calendrier</span>
	</a>
{% endblock %}

{% block main %}
	{% form_theme form 'bootstrap_5_layout.html.twig' %}
	{{ form_start(form) }}

	<ul class="events list-unstyled mb-3" data-index="{{ form.events|length > 0 ? form.events|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(form.events.vars.prototype)|e('html_attr') }}">
		{% for event in form.events %}
			<li>{{ form_widget(event) }}</li>
		{% endfor %}
	</ul>
	<div class="flex justify-end gap-2 items-center pt-4">
		<button type="button" class="add_item_link btn btn-primary" data-collection-holder-class="events">
			<i class="fas fa-plus"></i>
			Ajouter un cépage</button><br>
		<button type="submit" class="btn btn-primary">
			<i class="fas fa-save"></i>
			Enregistrer</button>
	</div>


	{{ form_end(form) }}

{% endblock %}
