{% set url = ea_url() %}

{# CALENDAR TOOLBAR #}
<div class="agcal-toolbar flex justify-between items-center gap-x-4 py-4">
	<div class="flex justify-between items-center gap-x-4">
		<a href="{{url.set('date',calendar.lastMonth)}}" class="agcal-preview-day btn btn-secondary">
			<i class="fas fa-chevron-left"></i>
		</a>
		<a href="{{url.set('date',calendar.nextMonth)}}" class="agcal-next-day btn btn-secondary">
			<i class="fas fa-chevron-right"></i>
		</a>
	</div>
	<div class="agcal-date text-xl font-medium flex-1 text-center">{{mois(calendar.date, true)}}
	</div>
	<a href="{{url.set('date', null)}}" class="agcal-today btn btn-primary">Aujourd'hui</a>
</div>

{# CALENDAR #}
<div class="xs:grid xs:grid-cols-3 md:grid-cols-4 lg:grid-cols-7">

	{% for d in calendarMonthlyHeader() %}
		<div class="agcal-week-header p-1 text-sm text-center border">
			{{d}}
		</div>
	{% endfor %}

	{% for day in calendar.calendar %}
		{% set eventUrl = ea_url()
			.set('date', day.date|date('Y-m-d'))
			.setAction('event')
			.generateUrl()
		%}
		<div
			class="agcal-day min-h-24 pb-3 relative {{ ( day.nextMonth or day.lastMonth ) ? 'opacity-80 bg-slate-100' : ''}} border p-1 px-2 {{day.isPresent ? 'bg-yellow-50' : ''}}">

			{# Day number #}
			<div class="text-xs flex justify-between items-center gap-x-4 p-1 pb-2">
				{% if day.isFuture %}
					<a href="{{eventUrl}}" class="border p-1 rounded-lg flex-1 text-center bg-white">
						<i class="fas fa-plus pr-2"></i>
						Ajouter cépage
					</a>
				{% else %}
					<div class="flex-1"></div>
				{% endif %}
				<span class="{{day.isPresent ? 'text-blue-700 font-bold' : 'text-slate-500'}}">
					{{ day.date|date('d') }}
				</span>
			</div>

			{# EVENTS #}
			<div
				class="flex flex-col gap-y-2">
				{# MODEL #}
				{% for event in day.events %}
					{% set meta = event.metadata %}
					{% set bgColor = meta.published ? (meta.full ? 'bg-slate-600' : 'bg-blue-500') : 'bg-blue-300' %}
					{% set actionUrl = ea_url()
							.unsetAll()
							.setController('App\\Controller\\Admin\\EventCrudController')
							.setAction('updateEvent')
							.setEntityId(meta.id)
						%}

					<div
						id="event-{{meta.id}}" class="rounded {{bgColor}} text-white p-1 grid grid-cols-[1.5em_1fr] gap-1">

						{# CEPAGE #}
						<button class="toggle-icon" data-checked="{{meta.published ? 'true' : 'false' }}" data-action="{{meta.action}}&target=cepage">
							<i class="checked fas fa-eye {{meta.published ? '' : 'hidden' }}"></i>
							<i class="unchecked fas fa-eye-slash {{meta.published ? 'hidden' : '' }}"></i>
						</button>
						<a href="{{eventUrl}}" class="text-white truncate flex-1 hover:underline">{{meta.cepage}}</a>

						{# COMMENT #}
						<button class="toggle-icon" data-checked="{{meta.commentVisible ? 'true' : 'false' }}" data-action="{{meta.action}}&target=comment">
							<i class="checked fas fa-comment {{meta.commentVisible ? '' : 'hidden' }}"></i>
							<i class="unchecked fas fa-comment-slash {{meta.commentVisible ? 'hidden' : '' }}"></i>
						</button>
						<div class="p-1 rounded border border-gray-100 text-xs text-slate-600 bg-white {{meta.commentVisible ? '' : 'line-through' }}">
							{{meta.comment}}
							{{meta.commentVisible ? 'visible' : 'hidden'}}
						</div>

						{# COMPLET #}
						<button class="toggle-icon" data-checked="{{meta.full ? 'true' : 'false'}}" data-action="{{meta.action}}&target=complet">
							<i class="checked fas fa-lock-open {{meta.full ? 'hidden' : '' }}"></i>
							<i class="unchecked fas fa-lock {{meta.full ? '' : 'hidden' }}"></i>
						</button>
						<p>Complet</p>
					</div>
				{% endfor %}
			</div>
			{# END EVENTS #}
		</div>


	{% endfor %}
</div>
